@import url(http://fonts.googleapis.com/css?family=Kotta+One|Donegal+One|Open+Sans:400italic,700,400);

body {
  background-color: #212121;
  color: #212121;
  font-family: 'Donegal One', sans-serif;
}

a {
  font-family: 'Open Sans', sans-serif;
}

.header .container {
  background-color: #024959;
}

.header a {
  color: white;
  font-size: 14px;
  font-weight: bold;
  padding: 14px 10px;
  text-transform: uppercase;
}

.header a:hover {
  color: #037E8C;
  text-decoration: none;
}

.banner {
  height: 500px;
  background-color: #037E8C;
}

.banner .container {
  position: relative;
  top: 130px;
}

.banner h1 {
  color: white;
  font-size: 48px;
  font-weight: bold;
  font-family: 'Open Sans', sans-serif;
}

.banner p {
  font-size: 20px;
  color: white;
}

.footer {
  background-color: #bdbdbd;
}

.footer h3 {
  font-family: 'Open Sans', sans-serif;
}
