<!DOCTYPE HTML>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Game - Caleb French</title>
		<link rel="stylesheet" href="js/cmf/css/cmf.css">
		<link rel="stylesheet" href="css/stylesheet.css">
		<link rel="stylesheet" href="plugins/jquery-ui-1.11.4/jquery-ui.css">
	</head>
	<body onload="InitGame();">
		<div id="header">
			<ul>
				<div class="right">
					<% if (user.local.email > 0) { %>
						<li><a href="/signup">Sign Up</a></li>
						<li><a href="/login">Login</a></li>
					<% } else { %>
						<li><a href="/profile">Profile</a></li>
						<li><a href="/logout">Logout</a></li>
					<% } %>
				</div>
				<li><a href="/">Home</a></li>
				<li><a href="/hex">Hex</a></li>
				<li><a href="/game">Game</a></li>
				<li><a href="/contact">Contact</a></li>
			</ul>
		</div>

		<div id="frame">
			<div class="left half">
				<div id="tabber0" class="tabber">
					<ul class="tab-hdr">
						<li><a href="javascript:ActivateTab('tabber0', 'board_div')">Board</a></li>
						<li><a href="javascript:ActivateTab('tabber0', 'map_div')">Map</a></li>
						<li><a href="javascript:ActivateTab('tabber0', 'journal_div')">Journal</a></li>
						<li><a href="javascript:ActivateTab('tabber0', 'character_sheet_div')">Character Sheet</a></li>
					</ul>
					<div id="board_div" class="tab container">
					</div>
					<div id="map_div" class="actv tab container">
						<img id="map" src="res/game/map.jpg" alt="res/game/map.jpg">
					</div>
					<div id="character_sheet_div" class="tab container">
						<h1>Character Sheet</h1>
						<object id="character_sheet" data="res/game/AutomatedCharacterSheet.pdf" type="application/pdf">
							<p>Alternative text - include a <a href="res/game/AutomatedCharacterSheet.pdf">link</a> to the PDF!</p>
						</object>
					</div>
					<div id="journal_div" class="tab container">
						<h1>Journal</h1>
						<div id="journal"></div>
					</div>
				</div>
			</div>
			<div class="right half">
				<div id="chat"></div>
			</div>
		</div>

		<script src="/socket.io/socket.io.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
		<script src="plugins/jquery-ui-1.11.4/jquery-ui.js"></script>
		<script src="plugins/jquery-panzoom/jquery.panzoom.js"></script>
		<script src="js/cmf/cmf.js"></script>
		<script src="js/cmf/Widget.js"></script>
		<script src="js/cmf/RichTextElement.js"></script>
		<script src="js/cmf/MathParser.js"></script>
		<script src="js/cmf/TableChatElement.js"></script>
		<script src="js/scripts.js"></script>
		<script src="js/game.js"></script>
	</body>

	<template id="cmf_table_t"><table class="cmf_roll_template" align="center"><caption></caption><tbody></tbody></table></template>
	<template id="cmf_row_t"><tr><td id="c1"></td><td id="c2"></td></tr></template>
</html>