<!DOCTYPE HTML>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<title>Home - Caleb French</title>
		<link rel="stylesheet" href="js/cmf/css/cmf.css">
	</head>
	<body onload="Init();">
		<div id="header">
			<ul>
				<li><a href="/">Home</a></li>
				<li><a href="/hex">Hex</a></li>
				<li><a href="/game">Game</a></li>
				<li><a href="/contact">Contact</a></li>
			</ul>
		</div>

		<div id="frame">
			<h1>Hi, I'm Caleb!</h1>
			<br>
			<h3>Welcome to my personal website.</h3>
		</div>

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
		<script src="js/cmf/cmf.js"></script>
		<script src="js/cmf/Widget.js"></script>
		<script src="js/scripts.js"></script>
	</body>
</html>
